* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* 
body {
    text-align: center;
} */

#main {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: blue; */
}

#error-container {
    display: flex;
    /* justify-content: center; */
    width: 84%;
    color: red;
    font-weight: bold;
}

#url_container {
    display: flex; 
    /* align-items: center; */
    justify-content: center;
    width: 100%;


}

#url_input {
    width: 70%;
    height: 57px;
    font-size: 30px;
}

#dismantle_button {
    height: 57px;
    border: none;
    background: #2a154c;
    color: white;
    padding: 0 2%;
    font-size: 22px;
    transition: background 150ms ease-in-out;
    /* border-radius: 2; */
}

#error {
    /* display: none; */
}

#dismantle_button:hover {
    background: #713dc7;
}


.url-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin-bottom: 4%;
}

.url-info-container {
    display: flex;
    width: 70%;
    background: white;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.url-info-value {
    width: 50%;
    padding: 0 5%;
}

.border-right {
    border-right: 1px solid black;
}

.dark {
    background: #1b1b1b;
    color: white;
}
